/*	Global reset   */

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}


button.add {
    float: right;
    -webkit-appearance: none;
    background: #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
    -webkit-transition: all .1s;
    transition: all .1s;
    position: relative;
}

button.add:hover {
    color: rgb(0,0,200);
    background: #fefefe;
    box-shadow: inset 0 0 5px rgba(0,0,200,1);
    font-size: 14px;
}

button.add.loading {
    color: transparent;
    pointer-events: none;
}

button.add.loading:after {
    content: '';
    display: block;
    height: 1.5em;
    width: 1.5em;
    animation: rotate 0.8s infinite linear;
    border: 3px solid #3d464a;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.75em 0 0 -0.75em;
    box-sizing: border-box;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

/*--------------------
	Menu
----------------------*/

#menu-toggle {
    -webkit-appearance: none;
    background: none;
    position: absolute;
    left: 10px;
    color: #ffffff;
    z-index: 5;
    top: 10px;
    border: 1px solid transparent;
    padding: 5px 1px;
    -webkit-transition: all .1s;
    transition: all .1s;
    background: #26292C;
    cursor: pointer;
}

#menu-toggle:hover {
    border: 1px solid #ffffff;
    background: #111111;
}

#menu {
    background: #ffffff;
    height: 100vh;
    position: absolute;
    padding: 18px 0;
    top: 0;
    bottom: 0;
    min-width: 200px;
    width: 25%;
    z-index: 15;
    -webkit-box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: transform .2s;
    transition: transform .2s;
    overflow-y: auto;
    list-style: none;
}

#menu ul {
    z-index: 20;
}

#menu.hidden {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#menu li a {
    display: block;
    padding: 18px;
    text-decoration: none;
    color: #3D464A;
    -webkit-transition: background .1s;
    transition: background .1s;
}

#menu li a:hover,
#menu li.active a {
    background-color: rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
}

#menu li.active a {
    background-color: rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 100, 255, 0.35);
    box-shadow: inset 0 0 3px rgba(0, 100, 255, 0.35);
}

#backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*	App flex container	*/

#container {
    height: 100%;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font: bold 15px sans-serif;
    overflow: hidden;
}

/*---------------------------
	Cover Art Section
----------------------------*/

#cover-art,
#all-tracks,
#playlists {
    background-color: #26292C;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 18px;
}

#cover-art-big {
    -webkit-flex: 1;
    flex: 1;
    background-size: cover;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    margin: -12px;
}

#cover-art-small {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px auto auto -250px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 30px 1px rgba(0,0,0,0.3);
}

/*---------------------------
	All Tracks Section
----------------------------*/

#all-tracks ul,
#all-tracks form {
    background: #ffffff;
    width: 800px;
    max-width: 100%;
}

#all-tracks ul {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    overflow-y: auto;
}

#all-tracks form {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    padding: 9px;
    border-radius: 3px 3px 0 0;
}

#all-tracks form div {
    flex: 1 auto;
}

#all-tracks form label {
    margin-right: 9px;
}

#all-tracks .track {
    font-size: 12px;
}

#all-tracks .track p.title {
    font-size: 14px;
    margin-top: 8px;
}

#all-tracks .track > div:first-child {
    height: 50px;
    width: 50px;
}

#all-tracks .track span i {
    font-size: 18px;
    line-height: 50px;
    left: 18px;
}

/*---------------------------
	Playlists Section
----------------------------*/

#playlists {
    flex-flow: row wrap;
    overflow-y: auto;
    align-content: flex-start;
    list-style: none;
    padding: 48px 5% 18px;
}

li.playlist {
    width: 250px;
    min-width: 200px;
    margin: 9px;
    flex: 0 1 20%;
    position: relative;
    border: 5px solid #fff;
    border-radius: 2px;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.7);
    overflow: hidden;
    cursor: pointer;
    background-color: #000000;
}

li.playlist img {
    display: block;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s;
}

li.playlist:hover img {
    opacity: 0.7;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

li.playlist h3 {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    left: 0;
    right: 0;
    padding: 9px;
    font-size: 16px;
    font-weight: 400;
    font-family: Segoe UI, sans-serif;
    transform: translateY(100%);
    transition: all 0.3s;
}

li.playlist:hover h3 {
    transform: translateY(0);
}

li.playlist span:not(.remove) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s;
}

li.playlist:hover span {
    opacity: 1;
}

li.playlist .remove {
    position: absolute;
    opacity: 0;
    right: 5px;
    top: 2px;
    z-index: 10;
    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s;
}

li.playlist .remove:hover {
    color: #ee1111;
}
/*
li.playlist:after {
    content: ' ';
    display: block;
    padding-bottom: 100%;
}*/

/*	Instructions	*/

.instructions {
    display: none;
    position: absolute;
    width: 280px;
    font: 16px sans-serif;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: 280px;
}

#container.disabled .instructions {
    display: block;
}

#container.disabled #wave {
    display: none;
}

/*---------------------------
	Player Control Bar
----------------------------*/

#control-bar {
    display: -webkit-flex;
    display: flex;
    color: #3D464A;
    text-align: left;

    position: relative;
    z-index: 10;

}

#container.disabled #control-bar {
    pointer-events: none;
}

.player-control {
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
}

.player-control div {
    -webkit-flex: 1;
    flex: 1;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    height: 100%;
    cursor: pointer;
}

#container.disabled .player-control div {
    color: #758389;
}

#shuffle-button,
#repeat-button {
    line-height: 60px;
    color: #758389;
    position: relative;
}

#shuffle-button.active,
#repeat-button.active {
    line-height: 60px;
    color: #000;
}

#repeat-button i span {
    display: none;
    position: absolute;
    font: bold 12px sans-serif;
    color: rgb(71, 91, 118);
    top: 6px;
    left: 13px;
}

/*---------------------------
		Playlist
---------------------------*/

#playlist {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 3;
    flex: 3;
    text-align: left;
}

/*	Currently playing track details	*/

#track-details {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    z-index: 20;
    background-color: #fff;
    padding: 0 30px 0 40px;
    cursor: pointer;

    white-space: nowrap;
}

#track-details > i {
    line-height: 60px;
    margin-right: 15px;
}

#container.disabled #track-details {
    color: #758389;
}

#container.disabled #track-details > i {
    display: none;
}

#track-details #track-desc {
    line-height: 60px;
    -webkit-flex: 6;
    flex: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    padding-right: 15px;
    font-weight: normal;
}

#track-details #track-time {
    line-height: 60px;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

/*	Expanding Playlist Bar */

#expand-bar {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #222;
    cursor: default;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;

    transition: height 0.4s, box-shadow 0.2s;

    height: 100vh;

    box-shadow: -1px 0 2px 1px rgba(0, 0, 0, 0.15);
}

#expand-bar.hidden {
    height: 0;
    box-shadow: none;
}

#expand-bar form {
    position: relative;
    padding: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    width: 100%;
    background-color: #fff;
    z-index: 40;
}

#expand-bar form div {
    position: absolute;
    left: 113px;
    right: 20px;
    top: 11px;
}

input[type="search"],
input[type="text"],
select {
    width: 100%;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px #eee;
}

#expand-bar h2 {
    padding: 18px 23px;
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.2);
    margin: 0 -5px;
}

#expand-bar .add {
    margin: -5px 0;
}

/*	Playlist */

#list {
    margin-bottom: 60px;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#list li:nth-child(even) {
    background-color: #F8F7F9;
}

.track {
    padding: 18px;
    cursor: pointer;
    overflow: hidden;
    color: #3D464A;
    position: relative;
}

.track.active {
    background-color: #DBE0E4 !important;
}

.track p.title {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 4px;
    font-weight: bold;
}

.track p.artist {
    font-weight: normal;
}

.track > div:first-child {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 25px;
    float: left;
}

.track .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    opacity: 0;
    border-radius: 3px;
}

.track.active .overlay {
    opacity: 1;
}

.track div img {
    width: 100%;
    border-radius: 3px;
}

.track span i {
    color: #fff;
    font-size: 22px;
    line-height: 70px;
    left: 28px;
    position: absolute;
    transition: 0.4s;
    opacity: 0;
}

.track .remove-track {
    position: absolute;
    font-size: 22px;
    top: 12px;
    right: 18px;
    color: rgb(121, 121, 121);
    display: block;
}

.track.active span i {
    opacity: 1;
}

.modal {
    position: relative;
    z-index: 100;
    background: #ffffff;
    border-radius: 2px;
    padding: 18px;
    width: 540px;
    max-width: 100%;
    flex: 0 1 auto;
}

.modal h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 18px;
    padding-bottom: 5px;
}

.modal label {
    margin: 18px 0 9px;
    display: block;
}

.modal button {
    -webkit-appearance: none;
    margin-top: 18px;
    float: right;
    border: 1px solid #000;
    background: transparent;
    padding: 9px 18px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;
}

.modal button:hover {
    color: #ffffff;
    background-color: #000000;
}

/*---------------------------
		Media queries
---------------------------*/

@media (max-width: 1200px) {

    #control-bar {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        min-height: 120px;
    }

    .player-control {
        -webkit-order: 2;
        order: 2;
    }

    #playlist {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    #playlists {
        padding: 18px;
    }

    #expand-bar {
        padding-top: 120px;
        bottom: 60px;
    }

    #expand-bar.hidden {
        padding-top: 0;
    }

    #list {
        bottom: 0;
        top: 175px;
    }

}